// Import custom fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700|Open+Sans&display=swap");


// Overwrite default Bootstrap variable values
$headings-font-family: "Montserrat", sans-serif;
$font-family-base: "Open Sans", sans-serif;

$body-color: #2b2b2b;

$theme-colors: (
  "primary": #5090ff,
  "secondary": #a3a3aa,
  "light": #f3f3fa,
  "dark": $body-color
);

$enable-rounded: false;
$close-text-shadow: none;


// Import Bootstrap
@import "bootstrap/bootstrap";


// Overwrite Bootstrap classes
.navbar-toggler {
  @include hover-focus {
    outline-color: theme-color("primary");
  }
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}
